$maxWidth: 1170;

//main-colors
$whitecolor: #fff;
$lightcolor: #DBE2E4;
$greycolor: rgba(219, 226, 228, 0.6);
$darkcolor: #191B1D;
$desertcolor: #FFAF67;
$greycolor_light: rgba(219, 226, 228, 0.2);
$btncolor: #525759;